@media(min-width: 360px) and (max-width: 414px) {
    .african {
        width: 135px !important;
        left: 206px !important;
        top: -64px !important;
    }

    .Africell-login {
        width: 219px;
        top: 77px !important;
        left: -1px !important;
    }

}

@media(min-width: 576px) {
    .Africell-login {
        left: 100px !important;
        top: 22px !important;
    }

    .african {
        left: 104px !important;
        top: 5px !important;
    }


}

@media(min-width: 768px) {
    .african {
        left: 227px !important;
        top: -29px !important;
    }

    .Africell-login {
        top: 85px !important;
        left: 62px !important;
    }

}

@media(min-width: 992px) {

    .Africell-login {
        top: 21px !important;
        left: 95px !important;
    }

    .african {
        left: 101px !important;
        top: 5px !important;
    }

}

@media(min-width: 1200px) {

    .Africell-login {
        top: 40px !important;
        left: 121px !important;
        width: 271px;
        margin-bottom: 13px !important;
    }

    .african {
        left: 75px;
        margin-top: 7px;
        width: 169px !important;
        left: 106px !important;
    }
}

.fundo {
    background-color: #a72e7e;
}

.icon {
    width: 100px;
}

.login-form-1 {
    margin-top: 180px;
}

.login-form-2 {
    background-color: white;
    margin-top: 129px;
}

.letra {
    color: white !important;
}

.cards {
    padding: 50px;
    justify-content: center;
    text-align: center;
}

.cards img {
    width: 112px;
}

.login-form-22 {
    background-color: white;
    margin-top: 14px;
}

.login-form-11 {
    margin-top: 14px;
}

.mobile {
    width: 470px;
}

@media(min-width: 300px) and (max-width: 700px) {
    .cards {
        padding: 0px !important;
        justify-content: center;
        text-align: center;
    }

    .cards img {
        width: 50px;
    }

    .mobile {
    width: 225px !important;
    height: 213px !important;
    right: !important;
}

    .elemento {
        margin-top: -92px;
    }



}

@media(min-width: 700px) and (max-width: 1000px) {

    .elemento {
        margin-top: -39px;
        margin-left: 124px;
    }
}
